
#insite {
	width: 900px;
	border: 1px solid #555;
	padding: 15px;
	margin: auto;
}
#insite > div {
	margin-bottom: 40px;	
}
button {
	border: 2px solid #6081AF;
	border-radius: 5px;
	background-color: #AAA;
	font-size: 18px;
    color: white;
}
button.active {
	background-color: #777;
}
#mnu-login button {
    width: 200px;
    height: 40px;
    margin-left: 75px;
}
#img-body {
	background-image: url("https://static1.squarespace.com/static/53716c1de4b07f5891299dc4/t/5873a18229687f72381dee65/1483972997517/body_back.png");
	background-color: #D8E6FC;
	background-size: cover;
	background-position: center;
	width: 800px;
	height: 500px;
	margin: 25px auto;
}
#container-img {
	width: 850px;
	height: 550px;
	border: 1px solid #BBB;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 1px 1px 5px #888888;
}
.ins_popup {
	border: 1px solid #6081AF;
    width: 250px;
    background-color: #CCC;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    left: 350px;
    top: 250px;
}
.ins_popup input:not([type='checkbox']) {
	text-align: center;
	width: 160px;
	height: 26px;
	border: 1px solid #000;
	background-color: white;
	border-radius: 3px;
	font-size: 16px;
}
.ins_popup input[type='checkbox'] {
	float: right;
	font-size: 200%;
}
.ins_popup p {
	margin: 10px auto 0 auto;
	text-align: center;
}
.ins_popup button {
	height: 28px;
}
.ins_popup select {
	width: 100px;
    height: 26px;
    font-size: 16px;
}
.ins_popup div {
	border: 1px solid #000;
	border-radius: 4px;
	height: 26px;
	background-color: white;
}
.ins_popup td {
	height: 35px;
	text-align: center;
}
.ins_popup td button {
	width: 100px;
}
#btn-login-ggl,#btn-login-fb {
	width: 200px;
	font-size: 14px;
}
#btn-close-dlg {
	background-image: url("https://static1.squarespace.com/static/53716c1de4b07f5891299dc4/t/5873a19515d5db7187123bbd/1483973014105/close_btn.png");
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
.site-pin {
	background-image: url("https://static1.squarespace.com/static/53716c1de4b07f5891299dc4/t/5873a165ff7c502f987988e3/1483972965363/black_pin.png");
	background-size: cover;
	background-position: center;
	width: 25px;
	height: 25px;
	position: absolute;
}
#chart-bar {
  	border: 1px solid #000;
  	border-radius: 14px;
  	width: 850px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#chart-bar table {
  	width: 800px;
    height: 30px;
    margin: 20px auto;
}
#chart-bar div {
	border: 1px solid #000;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 15px;
    text-align: center;
    background-color: white;
    line-height: 40px;
    vertical-align: middle;
}
#chart-bar p {
	text-align: center;
	line-height: 40px;
}
#td-area-green {
  	width: 33.3%;
  	background-color: #385723;
}
#td-area-blue {
  	width: 33.3%;
  	background-color: #1f4E79;
}
#td-area-red {
  	background-color: #BF0000;
}
#overlay-min-mean {
    left: 264px;
}
#overlay-max-mean {
    left: 530px;
}
#tbl-user-sites {
	text-align: center;
}
#tbl-user-sites thead tr {background-color: #AAA}
#tbl-user-sites tbody tr:nth-child(even) {background-color: #DDD}
#tbl-user-sites tbody tr:nth-child(odd) {background-color: #FFF}
#tbl-user-sites tbody tr:hover {background-color: #AAA}
#tbl-user-sites tbody tr.active {background-color: #AAA}
.site_pin_active {
	border: 1px solid white;
    border-radius: 4px;
}
